In [6]:
import pandas as pd
import os

In [7]:
path=os.path.join("Resources", "crime_incident_data2017.csv")

In [8]:
df=pd.read_csv(path)

In [9]:
df.head(1)

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17

In [11]:
df.shape

(41032, 17)

In [12]:
df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [16]:
df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [28]:
df.columns

Index(['address', 'case_number', 'crime_against', 'neighborhood',
       'number_of_records', 'occur_date', 'occur_month_year', 'occur_time',
       'offense_category', 'offense_count', 'offense_type', 'open_data_lat',
       'open_data_lon', 'open_data_x', 'open_data_y', 'report_date',
       'report_month_year'],
      dtype='object')

In [30]:
df=pd.read_csv(path).rename(columns=lambda s:s.lower().replace(" ","_"))\
[['neighborhood',
  'occur_date', 
  'occur_time',
  'offense_category',
  'offense_count',
  'offense_type',
  'report_date',
 ]]\
.dropna()

In [31]:
df.columns

Index(['neighborhood', 'occur_date', 'occur_time', 'offense_category',
       'offense_count', 'offense_type', 'report_date'],
      dtype='object')

In [32]:
df.loc[df['offense_count']>=2,"offense_category"].unique()

array(['Motor Vehicle Theft'], dtype=object)

In [34]:
df.dtypes

neighborhood        object
occur_date          object
occur_time           int64
offense_category    object
offense_count        int64
offense_type        object
report_date         object
dtype: object